<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
                <img src="/img/nav/path.jpg" width="940" height="198" alt="">
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/archive">Archive</a></li>
	        		<li><a href="/feed.xml">Rss</a></li>
	    		</ul>
			</nav>
			<div class="container">
		
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:18326075717@163.com">email</a></li>
	        		<li><a href="https://github.com/zdxu">github.com/zdxu</a></li>
				</ul>
			</footer>
		</body>
	</html>