---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>
<div class="asset-meta">
<p class="vcard author">作者： <a class="fn url" href="http://www.ruanyifeng.com">阮一峰</a></p>
<p>日期： <a href="http://www.ruanyifeng.com/blog/2019/03/"><abbr class="published" title="2019-03-06T21:48:41+08:00">2019年3月 6日</abbr></a></p>
</div>

<p style="padding:0.3em 0.8em;margin:0;border: 1px solid #c6c6c6;border-radius: 4px;background-color: #0d073c;text-align: center;" class="entry-sponsor-img">  
</p>

<div class="post">
  {{ content }}
</div>